# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
git+https://github.com/eaera-com/account_metrics.git#egg=account_metrics # account_metrics

pytest
pytest-cov
pydantic
pandas
clickhouse-connect
clickhouse-driver
pydantic-settings
